[Unit]
Description=GSTD Service
After=network.target

[Service]
ExecStart=/usr/local/bin/gstd
Restart=always
User=pi
WorkingDirectory=/usr/local/bin/
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
