[Unit]
Description=echo-Project Server
After=gstd.service

[Service]
ExecStart=/usr/bin/python3 server.py
Restart=always
User=pi
WorkingDirectory=/home/pi/code/ECHO-PROJECT/core/
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
